<section class="">
  <article class="sectionUser">

  @if (homeApi.getNumberFollowed.hasValue() && homeApi.getNumberFollowed.value() > 0) {
    @if (homeApi.getDashboardInfo.hasValue()) {
      <app-post [posts]="this.homeApi.getDashboardInfo.value().dataNewPost"></app-post>
    }
  }@else {
      <app-sugerens-user></app-sugerens-user>
  }
    </article>

  <article  class="dashboard">
    <img [src]="imgUrl()" alt="Imagen perfil" (click)="goToPerfil()" class="perfil" />
    <section class="chatBot">
      hola
    </section>
    <app-list-news></app-list-news>
  </article>

</section>


