img{
    display: none;
}
#container{
    transition: all 0.5s ease;
}
#container:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgb(161, 161, 161);
}
@media(min-width: 500px){
    img{
        display: block;
        width: 50%;
        object-fit: cover;
        border-radius: 25px;
    }
}