section{
    overflow: scroll;
    padding: 10px;
    padding-bottom: 100px;
    height: 50vh;
}

@media (min-width: 768px) {
    section {
        padding-bottom: 20px;
    }
}

section::-webkit-scrollbar {
  display: none;
}