      <div
        class="md:w-full h-80 border containerPost"
        [ngStyle]="{
          'background-image': 'url(' + imageUrl() + ')',
          'background-size': 'cover',
          'background-position': 'center'
        }"
      >
      @if (isUserOrVisit()) {
        <div class="toggleButton" (click)="viewOptions.set(!this.viewOptions())">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-more-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
        </div>
      }
        

        @if(viewOptions()){
          <section class="option">
            <div class="menu-content">
              <p class="mensaje">Opciones del Post</p>
              
              <button class="option-btn modify">
                <span>Modificar</span>
              </button>

              <button class="option-btn delete" (click)="sendDelete()">
                <span>Eliminar</span>
              </button>

              <span class="option-btn close-menu" (click)="viewOptions.set(false)">Cancelar</span>
            </div>
          </section>
        }

        <div class="containerPostInfo">
          <app-card-actions [id]="this.infoPost().id" [likes]="this.infoPost().likes" [comments]="this.infoPost().comment" [shareds]="this.infoPost().shared" [isLiked]="this.infoPost().userLike"></app-card-actions>
        </div>
      </div>

    