<section class="containerMessage">
   <div class="infoUser">
    <div class="flex gap-5 w-40">
      <img [src]="dataComment().profile_img" alt="">
      <p>{{dataComment().username}}</p>
    </div>
        @if (isTheSameUSer()) {
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
        }
   </div>
   <div class="content" [class.expanded]="activeClassExpanded()">
      <p class="message" >
         {{dataComment().message}}
      </p>
   </div>
   
   @if (dataComment().message.length > 112) {
      <span (click)="activeClassExpanded.set(!this.activeClassExpanded())">
         {{activeClassExpanded() ? "Leer menos" :"Leer más"}}
      </span>
   }
</section>
