<section class="containerMessage">
   <div class="infoUser">
    <div class="flex gap-5 w-40">
      <img [src]="profileImg()" alt="" (click)="goToProfile()" class="cursor-pointer">
      <p (click)="goToProfile()" class="cursor-pointer">{{dataComment().username}}</p>
    </div>
    @if (isTheSameUSer()) {
        <div class="actions">
            <svg (click)="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu cursor-pointer"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>
            
            @if (isMenuOpen()) {
                <div class="dropdown-menu animate-fade-in">
                    <button class="menu-item delete" (click)="deleteComment()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
                        Eliminar
                    </button>
                </div>
            }
        </div>
    }
   </div>
   <div class="content" [class.expanded]="activeClassExpanded()">
      <p class="message" >
         {{dataComment().message}}
      </p>
   </div>
   
   @if (dataComment().message.length > 112) {
      <span (click)="activeClassExpanded.set(!this.activeClassExpanded())">
         {{activeClassExpanded() ? "Leer menos" :"Leer más"}}
      </span>
   }
</section>
