<div class="drawer-backdrop" (click)="onCommentAction.emit({ action: CommentAction.CLOSED, isClosed: true })">
  <section class="comments-drawer" (click)="$event.stopPropagation()">
    
    <div class="drawer-header">
      <div class="header-top">
        <h3 class="drawer-title">Comentarios</h3>
        <button class="close-drawer-btn" (click)="onCommentAction.emit({ action: CommentAction.CLOSED, isClosed: true })">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>

      @if (imageUrl()) {
        <div class="drawer-image-container">
          <img [src]="imageUrl()" alt="Post image" class="drawer-post-img">
        </div>
      }

      @if (title()) {
        <p class="post-context">{{ title() }}</p>
      }

      <p class="banner">
        Recuerda que los comentarios deben ser respetuosos y cumplir las normas de la comunidad de Elysium.
      </p>
    </div>

    <div class="drawer-content">
      <app-list-message
        [listMessage]="commentsResource.value()?.Data ?? []"
        (onDelete)="commentsResource.reload(); onCommentAction.emit({ action: CommentAction.DELETED })"
      ></app-list-message>
    </div>

    <div class="drawer-footer">
      <div class="input-container">
        <input type="text" placeholder="Escribe un comentario respetuoso..." (keydown.enter)="insertComment($event)" />
        <button class="send-comment-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send"><path d="m22 2-7 20-4-9-9-4Z"/><path d="M22 2 11 13"/></svg>
        </button>
      </div>
    </div>

  </section>
</div>
