<div class="bg-[#F9F3F1] w-90  max-w-md h-auto min-h-[400px] p-5 rounded-[20px] shadow-md mx-auto">
  <div class="flex justify-between mb-7 items-center">
    <div class="flex gap-3 items-center">
      <img class="rounded-full w-10" [src]="dataPost().profile_img" alt="imagen de perfil" (click)="this.routingElysium.goToProfile(dataPost().username);" />
      <p class="font-bold">{{ dataPost().username }}</p>
    </div>
    <app-btnFollow class="" [username]="dataPost().username"></app-btnFollow>
  </div>
  <img class="h-50 w-full bg-black rounded-[10px]" alt="" [src]="dataPost().img_post" />
  <h3>{{ dataPost().title }}</h3>
  <p>{{ dataPost().description }}</p>
</div>
